@model Tablero
@{
    ViewData["Title"] = "Confirmar Eliminación";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Confirmar Eliminación</h2>
            <div>
                @if (!string.IsNullOrEmpty(TempData["Mensaje"] as string))
                {
                    <div class="alert alert-warning" role="alert">
                        @TempData["Mensaje"]
                    </div>
                }
                <p>¿Estás seguro de que deseas eliminar el Tablero <strong>"@Model.NombreDeTableroM"</strong>?</p>
            </div>
            <form asp-controller="Tablero" asp-action="ConfirmarEliminar" method="post" class="mt-4">
                <input asp-for="@Model.IdTableroM" type="hidden" />
                <div class="col-12">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Tablero" asp-action="MostrarTodosTablero" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>