@using tl2_tp10_2023_VarelaJoseAlberto.Repositorios
@{
    ViewData["Title"] = "Tablero";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center mt-5 mb-4">Opciones de Tablero</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-center mb-4">
                <div class="card-body btn-group-vertical" role="group">
                    @if (Autorizacion.EsAdmin(ViewContext.HttpContext))
                    {
                        <form asp-controller="Tablero" asp-action="BuscarTableroPorNombre" method="get">
                            <div class="input-group mb-3">
                                <input type="text" name="nombre" class="form-control " placeholder="Nombre del tablero"
                                    aria-label="Nombre del tablero" aria-describedby="button-addon2">
                                <button class="btn btn-primary" type="submit" id="button-addon2"><i
                                        class="fas fa-search"></i></button>
                            </div>
                        </form>

                        <a asp-controller="Tablero" asp-action="CrearTablero" class="btn btn-success btn-block mb-3">
                            <i class="fas fa-plus mb-3"></i>
                            <h5 class="card-title">Crear Tablero</h5>
                        </a>

                        <a asp-controller="Tablero" asp-action="MostrarTodosTablero" class="btn btn-primary btn-block mb-3">
                            <i class="fas fa-tasks mb-3"></i>
                            <h5 class="card-title">Mostrar todas las Tableros</h5>
                        </a>
                    }
                    <a asp-controller="Tablero" asp-action="ListarTablerosDeUsuarioEspecifico"
                        asp-route-idUsuario="@Autorizacion.ObtenerIdUsuario(ViewContext.HttpContext)"
                        class="btn btn-primary btn-block ">
                        <i class="fas fa-list mb-3"></i>
                        <h5 class="card-title">Mostrar Mis Tableros</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>