@model tl2_tp10_2023_VarelaJoseAlberto.ViewModels.ListarTablerosViewModel
@{
    ViewData["Title"] = "Tableros del Usuario";
}

<h1>Tableros del Usuario</h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">Id Tablero</th>
            <th scope="col">Nombre de Tablero</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Opcion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.ListaTablerosVM)
        {
            <tr>
                <th scope="row">
                    @tablero.IdTableroVM
                </th>
                <td>@tablero.NombreTableroVM</td>
                <td>@tablero.DescripcionVM</td>
                <td>
                    <a asp-controller="Tarea" asp-action="MostrarTareasTableroIdEspecifico"
                        asp-route-idTablero="@tablero.IdTableroVM">
                        Ver tareas</a>
                </td>
            </tr>
        }
    </tbody>
</table>
