@model tl2_tp10_2023_VarelaJoseAlberto.ViewModels.ListarTablerosViewModel
@{
    ViewData["Title"] = "Tableros del Usuario";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableros del Usuario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-3">Tableros del Usuario</h1>
        <div class="mt-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id Tablero</th>
                        <th scope="col">Nombre de Tablero</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Opción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tablero in Model.ListaTablerosVM)
                    {
                        <tr>
                            <td>@tablero.IdTableroVM</td>
                            <td>@tablero.NombreTableroVM</td>
                            <td>@tablero.DescripcionVM</td>
                            <td>
                                <a href="@Url.Action("MostrarTareasTableroIdEspecifico", "Tarea", new { idTablero = tablero.IdTableroVM })"
                                    class="btn btn-primary">Ver tareas</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
