@using tl2_tp10_2023_VarelaJoseAlberto.Repositorios
@model tl2_tp10_2023_VarelaJoseAlberto.ViewModels.UsuarioViewModel
<div class="text-center">
    <h1 class="display-4">Opciones de Tareas</h1>
    <div class="container">
        <div class="row">
            @if (Autorizacion.ObtenerRol(ViewContext.HttpContext) == "admin")
            {
                <div class="col-md-3">
                    <a asp-controller="Tarea" asp-action="MostrarTareas">
                        <i class="fas fa-user"></i>
                        <p>Mostrar todas las Tareas</p>
                    </a>
                </div>

                <div class="col-md-3">
                    <a asp-controller="Tarea" asp-action="MostrarTareasUsuarioEspecifico"
                        asp-route-idUsuario="@Autorizacion.ObtenerIdUsuario(ViewContext.HttpContext)">
                        <i class="fas fa-clipboard-list"></i>
                        <p>Mostrar Mis Tareas</p>
                    </a>
                </div>
                <div class="col-md-3">
                    <a asp-controller="Tarea" asp-action="CrearTarea">
                        <i class="fas fa-plus"></i>
                        <p>Crear Nueva Tarea</p>
                    </a>
                </div>
            }
            else if (Autorizacion.ObtenerRol(ViewContext.HttpContext) == "operador")
            {
                <div class="col-md-3">
                    <a asp-controller="Tarea" asp-action="MostrarTareasUsuarioEspecifico"
                        asp-route-idUsuario="@Autorizacion.ObtenerIdUsuario(ViewContext.HttpContext)">
                        <i class="fas fa-clipboard-list"></i>
                        <p>Mostrar Mis Tareas</p>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
