@model Usuario
@{
    ViewData["Title"] = "Confirmar Eliminación";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Confirmar Eliminación</h2>
            <div>
                <p>¿Estás seguro de que deseas eliminar el usuario <strong>"@Model.NombreDeUsuarioM"</strong>?</p>
            </div>
            <form asp-controller="Usuario" asp-action="ConfirmarEliminar" method="post">
                <input asp-for="@Model.IdUsuarioM" type="hidden" />
                <div class="col-12">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                    <a asp-controller="Usuario" asp-action="MostrarTodosUsuarios" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>